<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065371035020-vn2v3m6bq3n7tteo5tadcqc63c4pi9t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065371035020-vn2v3m6bq3n7tteo5tadcqc63c4pi9t4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065371035020-c7gssjbsnv80imicqkag3lba7hs7p3op.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAb2kxyUbFffn37Ty9-MYdNQ2OXhdfxXKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1065371035020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qaccApplication</string>
	<key>PROJECT_ID</key>
	<string>qacc-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>qacc-authentication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065371035020:ios:373f1a482f3801d95ee2a9</string>
</dict>
</plist>